/Viikko1/tehtävät14-16/RiippuvuuksienInjektointi1/.nb-gradle/
/Viikko1/tehtävät14-16/NhlStatistics1/build/
/Viikko1/tehtävät14-16/NhlStatistics1/.nb-gradle/
/Viikko3/tehtävät4-6/LoginCucumber/.nb-gradle/
/Viikko3/tehtävät4-6/LoginCucumber/build/
/Viikko4/tehtävät1-4/MockitoDemo/.nb-gradle/
/Viikko4/tehtävät1-4/MockitoDemo/build/
/Viikko4/tehtävät1-4/MaksukorttiMockito/.nb-gradle/
/Viikko4/tehtävät1-4/MaksukorttiMockito/build/